<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Endpoint</title>
</head>
<body>

<div id="func">
  <p>Estado del tráfico: {{ trafico }}</p>
</div>

<script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script>
new Vue({
  el: '#func',
  data() {
    return {
      trafico: ''
    };
  },
  mounted() {
    axios.get('https://api.t-xd.es/api/trafico/status')
      .then(response => {
        if (response.status == 200) {
          this.trafico = 'Activo';
        } else {
          this.trafico = 'Inactivo';
        }})
      .catch(error => {
        this.trafico = 'Error';
      });
  }});
</script>
</body>
</html>
