<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
  <title>Sumar</title>
</head>
<body>

<div id="calculadora">
  <input v-model="num1" type="number" placeholder="Numero 1">
  <input v-model="num2" type="number" placeholder="Numero 2">
  <button @click="suma">Sumar</button>
  <div>Resultado: {{ resultado }}</div>
</div>

<script>
new Vue({
  el: '#calculadora',
  data: {
    num1: 0,
    num2: 0,
    resultado: 0
  },
  methods: {
    suma: function() {
      this.resultado = parseInt(this.num1) + parseInt(this.num2);
    }
  }
});
</script>

</body>
</html>
